.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 37px;
  border: 2px solid $main-blue-color;
  border-radius: 3px;
  background-color: transparent;
  font-size: 18px;
  line-height: 49px;
  color: $main-white-color;
  letter-spacing: -0.5px;
  @include main-font4();
  @include transition(all, .3, 0);

  &:hover {
    color: $main-white-color;
    background: $main-blue-color;
  }
}

@media (min-width: $tablet-landscape) {
  .btn {


  }
}
