$main-blue-color: #5cc9dc;
$main-title-color: #1d242d;
$main-sub-title-color: #999;
$main-text-color: #575d64;
$main-white-color: #fff;

//site
$site-background: #fff;
$header-menu-color: $main-blue-color;
$header-menu-mobile-color: #fff;
$header-menu-back: $main-blue-color;
$header-menu-btn-back: $main-blue-color;
$header-menu-btn-back-2: #000;
$header-menu-btn-opened: #fff;
$footer-text-color: #bbb;

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .9 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ddd;
$websters-select-opened: #2a2b76;
$websters-select-back: #fff;
$websters-select-item-color: #bbb;
$websters-select-popup-item-active-color: #bbb;
/*---------- /websters-select ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-2-border: #fff;
$btn-2-color: #fff;
$btn-search-color: #fbfbfb;
/*---------- /btn ---------*/

/*---------- contacts ---------*/
$contacts-list-border: #f5f7fa;
/*---------- /contacts ---------*/



