
.links {
  display: flex;
  flex-flow: column;

  a {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    height: 205px;
    padding-left: 25px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: $main-white-color;
    @include transition(background, .3, 0);

    &:after {
      opacity: 1;
      position: absolute;
      top: 50%;
      right: 5px;
      width: 17px;
      height: 23px;
      margin-top: -11.5px;
      background: url(../img/big-btn_arrow.png) no-repeat;
      background-size: contain;
      transform: translateX(-10px);
      content: '';
      @include transition(all, .3, 0);
    }
    > div {
      position: relative;
    }
    span {
      position: relative;
      top: -6px;
      display: block;
      font-size: 26px;
      line-height: 29px;
      letter-spacing: -1px;
    }
  }
  &__back-image {
    background-size: cover;
    background-position: center;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(25,30,36, .9);
      content: '';
    }
  }
}

@media (min-width: $tablet-portrait) {

  .links {
    display: flex;
    flex-flow: row;
    margin-bottom: 36px;

    a {
      width: 50%;
    }
  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {

  .links {
    padding-top: 17px;
    margin-bottom: 36px;

    a {
      height: 290px;
      width: 50%;
      padding-left: 99px;
      padding-right: 115px;
      font-size: 18px;
      line-height: 36px;

      &:hover {

        &:after {
          opacity: 1;
          transform: translateX(0);
        }
      }
      &:after {
        opacity: 0;
        right: 100px;
        width: 17px;
      }
      span {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
